.aboutMe{
    width: 100%;

    background-color: var(--navigationBackground);

    height:50vh;
    -webkit-box-shadow: var(--box-shadow);
    -moz-box-shadow: var(--box-shadow);
    box-shadow: var(--box-shadow);
}
@media only screen and (max-width:420px){
    .aboutMe{
        margin: 0;
        height:auto;
    }
}