:root {
    --background: rgb(27, 27, 27);
    --navigationBackground: rgb(36, 36, 36);
    --fontStyle: 'Kanit', sans-serif;
    --box-shadow: 8px 8px 12px 0px rgba(0, 0, 0, 1);
    --max-width-for-media:420px;
}

body{
    height:100vh;
    width: 100%;
    background-color: var(--background);
    font-family: var(--fontStyle);
}
.container{
    display: flex;
    width: 80vw;
    margin: 0 auto;
}

@media only screen and (max-width:420px){
    .container{
        display: flex;
        flex-direction: column;
        
        width: 99vw;
    }
    body{
        width: 100vw;
    }
}