.nav{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    background-color: var(--navigationBackground);
    width: 12vw;
    min-width: 160px;
    height:50vh;
    margin: 20px auto;
    padding: 5px 7px;
    font-size: 24px;
    -webkit-box-shadow: var(--box-shadow);
    -moz-box-shadow: var(--box-shadow);
    box-shadow: var(--box-shadow);
}

.navElement:not(:first-child){
    margin-top: 20px;
    
}
.navElement{
    transition: transform .3s ease-in-out;
}
.navElement:link, .navElement:active,.navElement:visited{
    color:white;
    text-decoration: none;
}
.navElement:hover{
    transform: translateX(15px);
}
.active{
    transform: translateX(15px);    
}
@media only screen and (max-width:400px){
    .nav{
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 99vw;
        height: 10vh;
    }
    .navElement:not(:first-child){
        margin-top: 0px;
        
    }
    .navElement{
        padding: 0 10px;
    }
    .active{
        transform: translateX(0px);    
    }
    .navElement:hover{
        transform: translateX(0px);
    }
}

